---
layout: page
title: Publications
---

<section id="overview">
    <header class="major">
        <h4>MINT Overview Publication</h4>
    </header>

    <ul style="font-size: 0.9em; line-height: 1.2em">
        <li>
            Gil,Y.; Garijo, D.; Khider, D.; Knoblock, C.A.; Ratnakar, V.; Osorio, M.; Vargas, H.; Pham,M.; Pujara, J.;
            Shbita, B. Vu, B; Chiang, Y.; Feldman, D.; Lin, Y.; Song, H.; Kumar, V.; Khandelwal, A.; Steinbach, M.;
            Tayal, K.; Xu, S.; Pierce, S.A.; Pearson, L.; Hardesty-Lewis, D.; Deelman, E.; Ferreira da Silva, R.;
            Mayani, R.; Kemanian, A.R.; Shi, Y.; Leonard, L.; Peckham, S.; Stoica, M.; Cobourn, K.; Zhang, Z.;
            Duffy, C.; and Shu, L.
            <strong><a href="https://www.isi.edu/~gil/papers/gil-etal-tiis2021.pdf" target="_blank">
            Artificial Intelligence for Modeling Complex Systems: Taming the Complexity of Expert Models to Improve Decision Making
            </a></strong>, 
            ACM Transactions on Interactive Intelligent Systems (TiiS), 11(2). 2021.
        </li>
    </ul>

    <hr class="major"/>
    <header class="major">
        <h4>Overall Project Publications</h4>
    </header>
    <ol reversed style="font-size: 0.9em; line-height: 1.5em">
        {% if site.data.publications.size > 0 %}
        {% for n in site.data.publications %}
        <li style="margin-bottom: 1em">
            {{ n.authors }},
            <strong><a href="{{ n.link }}" target="_blank">{{ n.title }}</a></strong>,
            in {{ n.description }}.
        </li>
        {% endfor %}
        {% endif %}
    </ol>

</section>
