<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>Model Integration through Knowledge-Rich Data and Process Composition</h2>
        <!--<p>A free and fully responsive site template</p>-->
      </header>
      <!--<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>-->
      <!--<ul class="actions">-->
        <!--<li><a href="#" class="button big">Learn More</a></li>-->
      <!--</ul>-->
    </div>
    <!--<span class="image object">-->
      <!--<img src="assets/images/pic10.jpg" alt="" />-->
    <!--</span>-->
  </section>
