<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>Model Integration through Knowledge-Rich Data and Process Composition</h2>
            <!--<p>A free and fully responsive site template</p>-->
        </header>
        <p>
            Analyzing complex systems poses major challenges in integrating information and models across disciplines.
            This is the case for major societal and environmental challenges, which require forecasting how natural
            processes and human activities affect one another. There are many areas of the globe where climate affects
            water resources and therefore food availability, with major economic and social implications. Today, such
            analyses require significant effort to integrate highly heterogeneous models from separate disciplines,
            including geosciences, agriculture, economics, and social sciences. Model integration requires resolving
            semantic, spatio-temporal, and execution mismatches, which are largely done by hand today and may take
            more than two years. The Model INTegration (MINT) project is developing a modeling environment which will
            significantly reduce the time needed to develop new integrated models while ensuring their utility and
            accuracy. Research topics in this project include:
        </p>
        <!--<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>-->
        <ol>
            <li>New principle-based semiautomatic ontology generation tools for modeling variables, to ground analytic graphs to describe models and data</li>
            <li>A novel workflow compiler using abductive reasoning to hypothesize new models and data transformation steps</li>
            <li>A new data discovery and integration framework that finds new sources of data, learns to extract information from both online sources and remote sensing data, and transforms the data into the format required by the models</li>
            <li>A new methodology for spatio-temporal scale selection</li>
            <li>New knowledge-guided machine learning algorithms for model parameterization to improve accuracy</li>
            <li>A novel framework for multi-modal scalable workflow execution</li>
            <li>Novel composable agroeconomic models</li>
        </ol>

        <p>This interdisciplinary project is led by the University of Southern California in
        collaboration with Pennsylvania State University, University of Colorado, University of Minnesota, and
        Virginia Tech.</p>

        <p>For additional information please contact <a href="mailto:gil@isi.edu">Dr. Yolanda Gil</a>.</p>

        <!--<ul class="actions">-->
        <!--<li><a href="#" class="button big">Learn More</a></li>-->
        <!--</ul>-->
    </div>
    <!--<span class="image object">-->
    <!--<img src="assets/images/pic10.jpg" alt="" />-->
    <!--</span>-->
</section>
