<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="sidebar-logo">
            <img src="/assets/images/mint-logo-vertical.png"/>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <ul>
                    {% for my_page in site.navigation %} 
                        {% if my_page.title %}
                            <li >
                                <a {% if my_page.url == page.url %} class="selected" {% endif %} href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}
                                </a>
                            </li>
                        {% endif %} {% endfor %}
                </ul>                


                <li><a href="{{ '/team.html' | absolute_url }}">Team</a></li>
                <li><a href="{{ '/photos.html' | absolute_url }}">Photos</a></li>

            </ul>
        </nav>

        <footer id="footer">
            <p class="copyright">This project is funded by the Defense Advanced Research Projects Agency under award W911NF-18-1-0027.</p>
        </footer>

    </div>
</div>
